{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/estiloRegistrar.css') }}" type="text/css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block javascripts %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
{{ form_start(form) }}
	<div class="container">
	<!---heading-->
		<header class="heading"> Registro</header><hr></hr>
		<!---Form starting--> 
		{{ form_errors(form) }}
		<div class="row ">
		<!--- For Name-->
			<div class="col-sm-12">
				<div class="row">
					<div class="col-xs-4">
						<label class="nom">Nombre :</label> </div>
					<div class="col-xs-8">
						{{ form_row(form.nombre) }}
				</div>
				</div>
			</div>
			
			
			<div class="col-sm-12">
				<div class="row">
					<div class="col-xs-4">
						<label class="apell">Apellidos :</label></div>
					<div class ="col-xs-8">	 
						{{ form_row(form.apellidos) }}
					</div>
				</div>
			</div>
		<!---For email-->
			<div class="col-sm-12">
				<div class="row">
					<div class="col-xs-4">
						<label class="mail" >Correo :</label></div>
					<div class="col-xs-8"	>	 
						{{ form_row(form.email) }}
					</div>
				</div>
			</div>
		<!---For Password and confirm password-->
			<div class="col-sm-12">
					<div class="row">
						<div class="col-xs-4">
							<label class="pass">Contraseña :</label></div>
					<div class="col-xs-8">
						{{ form_row(form.password) }}
					</div>
			</div>
			</div>
			
		<!---For Phone number-->
			<div class="col-sm-12">
				<div class="row">
					<div class="col-xs-4">
						<label class="telefono" >Telefono :</label></div>
					<div class="col-xs-8"	>	 
						{{ form_row(form.telefono) }}
					</div>
				</div>
				{{ form_row(form.registrar, { 'label': 'Registrar' }) }}
			</div>
		</div>	 
					
			
	</div>
{{ form_end(form) }}
{% endblock %}
