{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 style="color:white">Usuarios</h1>
    <div class="contenedor" style="width:100%;">
        {% for usuario in usuarios %}
            <div class="card" style="height:auto; color:white;">
                <img class="card-img-top" src="{{ asset('/imagenes/') }}/{{ usuario.foto }}" height="100" alt="">
                <div class="card-body">
                    <h4 class="card-title">Usuario {{usuario.id}}</h4>
                    <p class="card-text"><a href="{{  path('ver_usuario',{id:usuario.id}) }}">{{usuario.nombre}} {{usuario.apellidos}}</a>
                        <a href="{{ path('borrar_usuario',{id:usuario.id}) }}" class="btn btn-danger" role="button">Borrar usuario</a>
                    </p>
                </div>
            </div>
            <br>
        {% else %}
            No se ha encontrado ningún usuario.
        {% endfor %}
    </div>
    <div style="clear:both"></div>
    {%  if app.user %}
        <a href="{{ path('insertar_usuario') }}" class="btn btn-primary" role="button">Insertar usuario</a>
    {% endif %}
{% endblock %}