{% extends 'base.html.twig' %}

{% block title %}Incidencias{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 style="color:white;">Incidencias</h1>
    {% for incidencia in incidencias %}
        <div class="incidencia">
            <h4><a href="{{  path('ver_incidencia',{id:incidencia.id}) }}">{{ incidencia.titulo }}</a>
                <a href="{{ path('borrar_incidencia',{id:incidencia.id}) }}">X</a></h4>
        </div>
    {% else %}
        No se ha encontrado ninguna incidencia
    {% endfor %}
    <div style="clear:both"></div>
    {%  if app.user %}
        <a href="{{ path('insertar_incidencia') }}" class="btn btn-primary" role="button">Insertar Incidencia</a>
    {% endif %}
{% endblock %}
